.containerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  text-align: center;
  margin: 0px;
}
.title{

}
.containerText{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  text-align: center;
  margin: 0px 20px 35px 20px;
}
.text{
  font-size: 19px;
  font-weight: 400;
  width: 780px;
}